/*****TAG SELECTORS*****/

.jumbotron{
    margin: 5% auto;
    width: 700px;
    opacity: 98%;
}
h1 {
    margin: 0 auto 4%;
}

h2 {
    margin: 2% auto 4%;
}
h4 {
    background: #fff;
    line-height: 200%;
    margin:auto;
    width: 95%;
}
p {
    margin: auto;
    width: 95%;
}

body {
    background-image: url('marconi.jpg');
    font-family: 'Quicksand', sans-serif;
}

/****CLASS SELECTORS****/

.btn {
    margin: 4% auto 2%;
}