{% extends 'bootstrap/base.html' %}

{% block title %}{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='/styles.css') }}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron justify-content-center text-center">
    <h1>Morse Code Translator</h1>
    <div class="raw_code_form container-fluid form-group">
        <form action="{{ url_for('main') }}", method="post">
            <textarea rows="4" cols="5" class="form-control" name="input_text" placeholder="Enter text to translate: "></textarea>
            <input class="btn btn-lg btn-success" type="submit" name="Translate" value="Translate">
        </form>
    </div>
    <div>
        {% if msg: %}

        <p><i>"{{ text }}"</i></p>
        <audio id="audio" controls autoplay>
          <source id="wav_src" src="{{ wav }}" preload="auto" type="audio/wav">
        Your browser does not support the audio element.
        </audio>
        <h4>{{ msg }}</h4>

        {% endif %}
    </div>
</div>
{% endblock %}